<?xml version="1.0"?>
<config>
	<modules>
		<Pure360_List>
			<version>1.0.3</version>
		</Pure360_List>
	</modules>
	<global>
		<blocks>
			<pure360_list>
				<class>Pure360_List_Block</class>
			</pure360_list>
		</blocks>
		<helpers>
			<pure360_list>
				<class>Pure360_List_Helper</class>
			</pure360_list>
		</helpers>
		<models>
			<pure360_list>
				<class>Pure360_List_Model</class>
				<resourceModel>pure360_list_resource</resourceModel>
			</pure360_list>
			<pure360_list_resource>
				<class>Pure360_List_Model_Resource</class>
				<entities>
					<list>
						<table>pure360_list</table>
					</list>
					<field>
						<table>pure360_list_field</table>
					</field>
					<group>
						<table>pure360_list_group</table>
					</group>
					<segment>
						<table>pure360_list_segment</table>
					</segment>
				</entities>
			</pure360_list_resource>
			<customer>
				<rewrite>
					<customer>Pure360_List_Model_Customer</customer>
				</rewrite>
			</customer>
		</models>
		<resources>
			<pure360_list_setup>
				<setup>
					<module>Pure360_List</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pure360_list_setup>
			<pure360_list_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pure360_list_write>
			<pure360_list_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pure360_list_read>
		</resources>
	</global>
	<frontend>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<pure360_list>
						<type>singleton</type>
						<class>pure360_list/observer</class>
						<method>successPage</method>
					</pure360_list>
				</observers>
			</checkout_onepage_controller_success_action>
			<checkout_controller_multishipping_shipping_post>
				<observers>
					<pure360_list>
						<type>singleton</type>
						<class>pure360_list/observer</class>
						<method>successPage</method>
					</pure360_list>
				</observers>
			</checkout_controller_multishipping_shipping_post>
			<controller_front_send_response_before>
				<observers>
					<pure360_list>
						<type>singleton</type>
						<class>pure360_list/observer</class>
						<method>initmail</method>
					</pure360_list>
				</observers>
			</controller_front_send_response_before>
		</events>
		<routers>
			<pure360_list>
				<use>standard</use>
				<args>
					<module>Pure360_List</module>
					<frontName>pure360_list</frontName>
				</args>
			</pure360_list>
		</routers>
	</frontend>
	<adminhtml>
		<events>
			<admin_system_config_changed_section_pure360_list>
				<observers>
					<pure360_cron>
						<type>singleton</type>
						<class>pure360_cron/observer</class>
						<method>checkJobs</method>
					</pure360_cron>
				</observers>
			</admin_system_config_changed_section_pure360_list>
		</events>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<pure360_list module="pure360_list">
											<title>Pure360 List Import Section</title>
										</pure360_list>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pure360_list>
					<file>pure360_list.xml</file>
				</pure360_list>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<pure360_list>
				<use>admin</use>
				<args>
					<module>Pure360_List</module>
					<frontName>pure360_list</frontName>
				</args>
			</pure360_list>
		</routers>
	</admin>
	<default>
		<pure360_list>
			<settings>
				<enabled>0</enabled>
			</settings>
		</pure360_list>
	</default>
	<crontab>
       
	</crontab>
	<phpunit>
		<suite>
			<modules>
				<Pure360_List />
			</modules>
		</suite>
	</phpunit>
</config>
