<?xml version="1.0"?>
<config>
    <modules>
        <Pure360_Cart>
            <version>1.0.1</version>
        </Pure360_Cart>
    </modules>
    <global>
		<template>
			<email>
				<pure360_cart_general_template translate="label" module="pure360_cart">
					<label>Abandoned Cart Reminder</label>
					<file>pure360/abandoned_cart.html</file>
					<type>html</type>
				</pure360_cart_general_template>
				<pure360_cart_guest_template translate="label" module="pure360_cart">
					<label>Abandoned Cart Reminder Guest</label>
					<file>pure360/abandoned_cart_guest.html</file>
					<type>html</type>
				</pure360_cart_guest_template>
			</email>
		</template>
        <helpers>
            <pure360_cart>
                <class>Pure360_Cart_Helper</class>
            </pure360_cart>
        </helpers>
        <blocks>
            <pure360_cart>
                <class>Pure360_Cart_Block</class>
            </pure360_cart>
        </blocks>
        <models>
            <pure360_cart>
                <class>Pure360_Cart_Model</class>
            </pure360_cart>
		</models>
        <resources>
            <pure360_cart_setup>
                <setup>
                    <module>Pure360_Cart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pure360_cart_setup>
            <pure360_cart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pure360_cart_write>
            <pure360_cart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pure360_cart_read>
        </resources>
    </global>
	<frontend>
		<routers>
			<pure360_cart>
				<use>standard</use>
				<args>
					<module>Pure360_Cart</module>
					<frontName>pure360_cart</frontName>
				</args>
			</pure360_cart>
		</routers>
	</frontend>
	<adminhtml>
		<events>
			<admin_system_config_changed_section_pure360_cart>
				<observers>
					<pure360_cron>
						<type>singleton</type>
						<class>pure360_cron/observer</class>
						<method>checkJobs</method>
					</pure360_cron>
				</observers>
			</admin_system_config_changed_section_pure360_cart>
		</events>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<pure360_cart module="pure360_cart">
											<title>Pure360 Abandoned Cart Reminders</title>
										</pure360_cart>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pure360_cart>
					<file>pure360_cart.xml</file>
				</pure360_cart>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<pure360_cart before="Mage_Adminhtml">Pure360_Cart_Adminhtml</pure360_cart>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<pure360_cart>
			<default_settings>
				<enabled>0</enabled>
				<max_cart_size>10000</max_cart_size>
			</default_settings>
			<websites_settings>
				<enabled>0</enabled>
				<max_cart_size>10000</max_cart_size>
			</websites_settings>
			<stores_settings>
				<enabled>0</enabled>
				<max_cart_size>10000</max_cart_size>
			</stores_settings>
		</pure360_cart>
	</default>
	<crontab>
       
	</crontab>
	<phpunit>
		<suite>
			<modules>
				<Pure360_Cart />
			</modules>
		</suite>
	</phpunit>
</config>
