<?xml version="1.0"?>
<config>
	<modules>
		<Pure360_Common>
			<version>1.0.1</version>
		</Pure360_Common>
	</modules>
	<global>
		<blocks>
			<pure360_common>
				<class>Pure360_Common_Block</class>
			</pure360_common>
			<adminhtml>
				<rewrite>
					<system_config_tabs>Pure360_Common_Block_Adminhtml_System_Config_Tabs</system_config_tabs>
					<system_config_form>Pure360_Common_Block_Adminhtml_System_Config_Form</system_config_form>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<pure360_common>
				<class>Pure360_Common_Helper</class>
			</pure360_common>
		</helpers>
		<models>
			<pure360_common>
				<class>Pure360_Common_Model</class>
			</pure360_common>
		</models>
		<resources>
			<pure360_common_setup>
				<setup>
					<module>Pure360_Common</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pure360_common_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<pure360_common>
				<use>standard</use>
				<args>
					<module>Pure360_Common</module>
					<frontName>pure360</frontName>
				</args>
			</pure360_common>
		</routers>
	</frontend>
	<adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
					<pure360_common_controller_action_predispatch>
						<class>pure360_common/observer</class>
						<method>checkRequirements</method>
					</pure360_common_controller_action_predispatch>
				</observers>
			</controller_action_predispatch>
			<admin_system_config_changed_section_pure360>
				<observers>
					<pure360_common>
						<type>singleton</type>
						<class>pure360_common/observer</class>
						<method>checkEnabled</method>
					</pure360_common>
				</observers>
			</admin_system_config_changed_section_pure360>
		</events>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<pure360>
											<title>Pure360 Common Section</title>
										</pure360>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pure360>
					<file>pure360_common.xml</file>
				</pure360>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<pure360>
			<default_settings>
				<enabled>0</enabled>
				<global>1</global>
				<debug>0</debug>
				<notices>0</notices>
				<max_sync_size>10000</max_sync_size>
			</default_settings>
			<default_settings_transactional>
				<enabled>0</enabled>
			</default_settings_transactional>
			<websites_settings>
				<enabled>0</enabled>
				<global>1</global>
			</websites_settings>
			<websites_settings_transactional>
				<enabled>0</enabled>
			</websites_settings_transactional>
			<stores_settings>
				<enabled>0</enabled>
				<global>1</global>
			</stores_settings>
			<stores_settings_transactional>
				<enabled>0</enabled>
			</stores_settings_transactional>
		</pure360>
	</default>
	<phpunit>
		<suite>
			<modules>
				<Pure360_Common />
			</modules>
		</suite>
	</phpunit>
</config>
