<?xml version="1.0"?>
<config>
	<modules>
		<Pure360_Cron>
			<version>1.1.4</version>
		</Pure360_Cron>
	</modules>
	<global>
		<helpers>
			<pure360_cron>
				<class>Pure360_Cron_Helper</class>
			</pure360_cron>
		</helpers>
		<blocks>
			<pure360_cron>
				<class>Pure360_Cron_Block</class>
			</pure360_cron>
		</blocks>
		<models>
			<pure360_cron>
				<class>Pure360_Cron_Model</class>
				<resourceModel>pure360_cron_resource</resourceModel>
			</pure360_cron>
			<pure360_cron_resource>
				<class>Pure360_Cron_Model_Resource</class>
				<entities>
					<job>
						<table>pure360_cron_job</table>
					</job>
				</entities>
			</pure360_cron_resource>
		</models>
		<resources>
			<pure360_cron_setup>
				<setup>
					<module>Pure360_Cron</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pure360_cron_setup>
			<pure360_cron_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pure360_cron_write>
			<pure360_cron_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pure360_cron_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<pure360_cron>
				<use>standard</use>
				<args>
					<module>Pure360_Cron</module>
					<frontName>pure360_cron</frontName>
				</args>
			</pure360_cron>
		</routers>
	</frontend>
	<adminhtml>
		<events>
			<admin_system_config_changed_section_pure360>
				<observers>
					<pure360_cron>
						<type>singleton</type>
						<class>pure360_cron/observer</class>
						<method>checkJobs</method>
					</pure360_cron>
				</observers>
			</admin_system_config_changed_section_pure360>
		</events>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<pure360_cron module="pure360_cron">>
											<title>Pure360 Cron Manager</title>
										</pure360_cron>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pure360_cron>
					<file>pure360_cron.xml</file>
				</pure360_cron>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<pure360_cron>
				<use>admin</use>
				<args>
					<module>Pure360_Cron</module>
					<frontName>pure360_cron</frontName>
				</args>
			</pure360_cron>
		</routers>
	</admin>
	<default>
		<pure360_cron>
			<settings>
				<enabled>0</enabled>
				<frequency>D</frequency>
				<interval>15</interval>
				<minutes>0</minutes>
				<limit>100</limit>
			</settings>
		</pure360_cron>
	</default>
	<crontab>
		<jobs>
			<pure360_cron_manager>
				<schedule>
					<!-- monitor every 1 minutes -->
					<cron_expr>*/1 * * * *</cron_expr>
				</schedule>               
				<run>
					<model>pure360_cron/observer::monitorJobs</model>
				</run>
			</pure360_cron_manager>
		</jobs>
	</crontab>
	<phpunit>
		<suite>
			<modules>
				<Pure360_Cron />
			</modules>
		</suite>
	</phpunit>
</config>
