<?xml version="1.0"?>
<config>
	<modules>
		<Pure360_Newsletter>
			<version>1.0.3</version>
		</Pure360_Newsletter>
	</modules>
	<global>
		<helpers>
			<pure360_newsletter>
				<class>Pure360_Newsletter_Helper</class>
			</pure360_newsletter>
		</helpers>
		<blocks>
			<pure360_newsletter>
				<class>Pure360_Newsletter_Block</class>
			</pure360_newsletter>
		</blocks>
		<models>
			<pure360_newsletter>
				<class>Pure360_Newsletter_Model</class>
			</pure360_newsletter>
			<newsletter>
				<rewrite>
					<subscriber>Pure360_Newsletter_Model_Subscriber</subscriber>
				</rewrite>
			</newsletter>
		</models>
		<resources>
			<pure360_newsletter_setup>
				<setup>
					<module>Pure360_Newsletter</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pure360_newsletter_setup>
			<pure360_newsletter_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pure360_newsletter_write>
			<pure360_newsletter_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pure360_newsletter_read>
		</resources>
	</global>
	<frontend>
        <layout>
            <updates>
                <pure360_newsletter>
                    <file>pure360/newsletter.xml</file>
                </pure360_newsletter>
            </updates>
        </layout>
		<routers>
			<pure360_newsletter>
				<use>standard</use>
				<args>
					<module>Pure360_Newsletter</module>
					<frontName>pure360_newsletter</frontName>
				</args>
			</pure360_newsletter>
		</routers>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <pure360_newsletter_checkout_type_onepage_save_order_after>
                        <class>pure360_newsletter/observer</class>
                        <method>handleSubscriptionAtCheckout</method>
                    </pure360_newsletter_checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <pure360_newsletter_controller_action_postdispatch_checkout_onepage_saveBilling>
                        <class>pure360_newsletter/observer</class>
                        <method>setSubscriptionAtBillingStep</method>
                    </pure360_newsletter_controller_action_postdispatch_checkout_onepage_saveBilling>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
        </events>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<pure360_newsletter module="pure360_newsletterr">
											<title>Pure360 Newsletter Options Section</title>
										</pure360_newsletter>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pure360_newsletter>
					<file>pure360_newsletter.xml</file>
				</pure360_newsletter>
			</updates>
		</layout>
	</adminhtml>	
	<admin>
		<routers>
			<pure360_newsletter>
				<use>admin</use>
				<args>
					<module>Pure360_Newsletter</module>
					<frontName>pure360_newsletter</frontName>
				</args>
			</pure360_newsletter>
		</routers>
	</admin>
	<default>
		<pure360_newsletter>
			<settings>
				<enabled>0</enabled>
			</settings>
		</pure360_newsletter>
	</default>
	<crontab>
       
	</crontab>
	<phpunit>
		<suite>
			<modules>
				<Pure360_Newsletter />
			</modules>
		</suite>
	</phpunit>
</config>