<?xml version="1.0"?>
<config>
    <modules>
        <Pure360_Email>
			<version>1.1.4</version>
        </Pure360_Email>
    </modules>
    <global>
        <helpers>
            <pure360_email>
                <class>Pure360_Email_Helper</class>
            </pure360_email>
        </helpers>
        <blocks>
            <pure360_email>
                <class>Pure360_Email_Block</class>
            </pure360_email>
        </blocks>
        <models>
            <pure360_email>
                <class>Pure360_Email_Model</class>
				<resourceModel>pure360_email_resource</resourceModel>
            </pure360_email>
			<pure360_email_resource>
				<class>Pure360_Email_Model_Resource</class>
				<entities>
					<transactional>
						<table>pure360_email_transactional</table>
					</transactional>
				</entities>
			</pure360_email_resource>
            <core>
                <rewrite>
                    <email_template>Pure360_Email_Model_Email_Message</email_template>
                </rewrite>
            </core>
		</models>
        <resources>
            <pure360_email_setup>
                <setup>
                    <module>Pure360_Email</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pure360_email_setup>
            <pure360_email_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pure360_email_write>
            <pure360_email_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pure360_email_read>
        </resources>
    </global>
	<frontend>
		<routers>
			<pure360_email>
				<use>standard</use>
				<args>
					<module>Pure360_Email</module>
					<frontName>pure360_email</frontName>
				</args>
			</pure360_email>
		</routers>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<pure360_email module="pure360_email">
											<title>Pure360 Transactional Emails</title>
										</pure360_email>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pure360_email>
					<file>pure360_email.xml</file>
				</pure360_email>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<pure360_email>
				<use>admin</use>
				<args>
					<module>Pure360_Email</module>
					<frontName>pure360_email</frontName>
				</args>
			</pure360_email>
		</routers>
	</admin>
	<default>
		<pure360_email>
			<settings>
				<enabled>0</enabled>
			</settings>
		</pure360_email>
	</default>
	<crontab>
       
	</crontab>
	<phpunit>
		<suite>
			<modules>
				<Pure360_Email />
			</modules>
		</suite>
	</phpunit>
</config>
